.add-guest-container {
  display: grid;
  gap: 3rem;
  padding: 20px 40px;
  font-family: var(--primary-font);
}

.add-guest-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guest-div {
  display: grid;

  .guest-title {
    font-size: 1.05rem;
  }
  .guest-age-range {
    font-size: 0.85rem;
    color: hsl(0, 0%, 45%);
  }
}
