.number-slider-container {
  font-family: var(--primary-font);
  position: relative;
}

.price-calculator {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  p,
  span {
    font-size: 4rem;
    font-weight: 700;
  }
  p {
    margin-right: 0.21rem;
  }
}

.price-digit {
  display: inline-block;
  z-index: -10;
}

@keyframes slideFromTop {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-from-top {
  animation: slideFromTop 0.3s ease-out forwards;
}

.animate-from-bottom {
  animation: slideFromBottom 0.3s ease-out forwards;
}

.drag-slider-info {
  position: relative;
  height: 5rem;
}

.drag-slider {
  position: absolute;
  bottom: 20px;
  transform: translateX(-50%);
}

.drag-slider button {
  background-color: black;
  color: white;
  padding: 1rem 0.7rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  width: 6rem;
  font-size: 0.92rem;
  font-weight: bold;
}

.drag-slider-p {
  font-size: 1rem;
  color: #333;
  position: absolute;
  top: 2rem;

  span {
    font-weight: 700;
    text-decoration: underline;
  }
}

.cost-estimate-slider {
  min-width: 25rem;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  border-radius: 5px;
  outline: none;
}

.cost-estimate-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.cost-estimate-slider:active::-webkit-slider-thumb {
  transform: scale(1.5);
}

.cost-estimate-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.cost-estimate-slider:active::-moz-range-thumb {
  transform: scale(1.5);
}

.cost-estimate-slider::-ms-thumb {
  width: 16px;
  height: 16px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.cost-estimate-slider:active::-ms-thumb {
  transform: scale(1.5);
}

.cost-estimate-slider:focus {
  outline: none;
}
