.icon-div {
  text-align: center;
  cursor: pointer;
  transition: all ease-in-out 200ms;
  color: rgb(143, 143, 143);
  font-family: Roboto, "Sans-serif";
  white-space: nowrap;
  margin: 10px 0;
  position: relative;
}

.icon-div.clicked {
  color: rgb(57, 56, 56);
  /* text-decoration: underline; */
}

.icon-div.clicked::before {
  content: "";
  width: 50%;
  position: absolute;
  z-index: 10;
  /* width: 100%; */
  height: 2px;
  color: black;
  bottom: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
}

.icon-div:not(.clicked):hover::before {
  color: rgb(57, 56, 56);
  content: "";
  width: 50%;
  position: absolute;
  z-index: 10;
  height: 2px;
  color: rgb(186, 183, 183);
  bottom: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(186, 183, 183);
}

.sliding-card-title {
  margin-top: 5px;
  font-size: 14px;
}

.slick-prev {
  left: -2%;
}
.slick-next {
  right: -3%;
}

.slick-prev,
.slick-next {
  background-color: black !important;
  width: 30px;
  height: 30px;
  z-index: 1;
  border-radius: 30%;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background-color: black !important;
  opacity: 0.8;
}
