.hosting-component-container {
  max-width: 1300px;
  margin: 0 auto;
  font-family: var(--primary-font);
}

.hosting-component-container-header {
  h1 {
    font-weight: 500;
    font-size: 2rem;
  }
}
