.personal-info-container {
  width: 1200px;
  margin: 0 auto;
  font-family: var(--primary-font);
}

.personal-info-header h1 {
  font-size: 2.03rem;
  font-weight: 550;
  margin-bottom: 3rem;
}

.personal-info-item {
  display: flex;
  justify-content: space-between;
  width: 600px;
  border-bottom: 1px solid rgb(220, 218, 218);
  padding: 1rem 0;
}

.personal-data {
  h3 {
    font-weight: 400;
  }
  span {
    font-size: 0.96rem;
    color: rgb(99, 98, 98);
  }

  .text-field {
    width: 35rem;
  }

  button {
    margin-top: 1rem;
    display: block;
    padding: 0.6rem 0.7rem;
  }
}

.edit-personal-data button {
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
