/* Header.css */
header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: #fff;
  margin-bottom: 20px;
}

header.scrolled {
  box-shadow: var(--header-box-shadow);
}

.header-border {
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

.header-container {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  height: 140px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: relative;
}

.logo img {
  width: 8rem;
  object-fit: contain;
  cursor: pointer;
}

.nav-account-management {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.nest-your-home {
  font-family: var(--primary-font);
  text-wrap: nowrap;
  font-size: 0.82rem;
  padding: 10px;
  transition: var(--transition-all-ease);
}

.nest-your-home:hover {
  border-radius: var(--search-border-radius);
  box-shadow: var(--box-shadow) var(--search-bar-box-shadow-color);
}

.user-profile-menu {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid hsl(0, 0%, 90%);
  transition: var(--transition-all-ease);
  border-radius: var(--search-border-radius);
}

.user-profile-menu:hover {
  box-shadow: var(--header-box-shadow);
}

.user-profile-burger-logo {
  height: 20px;
  width: 20px;
}

.user-logo {
  height: 30px;
  width: 30px;
}

.nav-account-management .account-management-dropdown {
  font-family: Roboto;
  font-size: 0.9rem;
  position: absolute;
  right: 0;
  opacity: 0;
  pointer-events: none;
  background-color: #fff;
  width: 230px;
  text-indent: 20px;
  border-radius: var(--card-border-radius);
  box-shadow: var(--header-box-shadow);
  z-index: 10;
  transition: opacity 0.2s ease;
}

.account-management-dropdown.visible {
  opacity: 1;
  pointer-events: auto;
}

.account-management {
  display: grid;
  gap: 3px;
  margin-bottom: 20px;
}

.account-item {
  padding: 10px 0;
}

.account-item:hover {
  background-color: rgb(246, 246, 246);
}

.account-management-top {
  padding-top: 20px;
}

.account-management-top::after {
  content: "";
  position: relative;
  height: 1px;
  margin-top: 18px;
  background-color: rgb(232, 222, 222);
}

.variety-icons {
  max-width: 1300px;
  margin: 0 auto;
}
