.counter-container {
  display: flex;
  gap: 15px;
  align-items: center;
}

.counter-button {
  border-radius: 50%;
  padding: 10px;
  height: 2.4rem;
  width: 2.4rem;
  border: 2px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
}

.counter-button:hover {
  border-color: hsl(0, 0%, 20%);
}

.counter-button.disabled {
  opacity: 0;
  pointer-events: none;
}

.counter {
  font-family: var(--primary-font);
  width: 20px;
  display: flex;
  justify-content: center;
}
